// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
$indigo: #6574cd;
$blue: #38c172;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$off-white: rgb(250, 250, 250);
$light-grey: #807e7e;
$extra-light-grey: #dadada;
$grey: #616161;

//Utilities
$loader-border-width: 2px;
$loader-size: 20px;
$input-focus-box-shadow: none;

//Fonts
$font-xs: 8pt;

//SCREEN SIZES
$mobile: 450px;
$tablet-min-breakpoint : 780px;
