// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    font-family: Nunito;
}

.nav-brand{
    font-family: cursive;
}

body{
  min-height: 100vh;
    background: url("http://ec2-18-220-223-194.us-east-2.compute.amazonaws.com/assets/img/bg/bg3.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar-light, .navbar-dark{
    transition: all 500ms linear;
    *{
        transition: all 500ms linear;
    }
}

.navbar-light{
    background: $blue;

}
nav{
    li.menu-item{
        &hover{
            border-left: 2px solid $blue !important;
        }
    }

  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
    z-index: 1000;
    .container{
        z-index: 100;
    }
    .dropdown-menu{
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        border-top: 2px solid $light-grey;
        z-index: 100;

        .nav-link{
            color: $white !important;
        }


        li{
            display: block;
            width: 100%;
            padding: 5px;
            margin: 0;
            transition: all 500ms linear;

            &hover{
                border-left: 2px solid $blue;
            }

            .nav-link{
                color: $white;
            }
            a{
                width: 100%;
                display: block;
                padding: 5px;

                &hover{
                    color: $light-grey;
                }
            }
        }
    }

    //&:after{
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    width: 100%;
    //    content: '.';
    //    background: $light-grey;
    //    opacity: .5;
    //    height: 100%;
    //}

}


.form-control{
    border: 0;
    border-bottom: 1px solid $light-grey;
}

.bg-danger{
    color: $light;
}

.page-loader{
    background: #4f7;
    .spinner{
        content: "";
        width: 50px;
        height: 50px;
        border: 0;
        border-top: 3px solid $red;
        border-bottom: 3px solid $blue;
        position: relative;
        margin: 0 auto;

    }

}


li{
  list-style: none;
  font-size: 10pt;
}

.p-0{
    padding: 0;
}

.mt-3{
    margin-top: 30px;
}

.bl-2{
    border-left: 2px solid;
}

.bl-danger{
    border-left-color: $red;
}

.bl-primary{
    border-left-color: $blue;
}

.bl-success{
    border-left-color: $green;
}

.bl-warning{
    border-left-color: $yellow;
}

.mh-80{
    min-height: 80vh;
}

.stencil-font{
    font-family: "Big Shoulders Stencil Display";
}

.bg-gradient-pd{
    background: linear-gradient(135deg, $blue 60%, $red)
}

.btn{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-lg{
    font-size: 10pt;
}

.banner-img{
    width: 100%;
    position: relative;
    top: -60px;
}

.banner-header{
    font-size: 3rem;
    z-index: 300;
}

.component-header{
  padding: .5em 2em;
}

.login-form{
  width: 90%;
  max-width: 500px;
  position: relative;
  margin: 5em auto;
  border: 1px solid $blue;
    .form-group{
        padding: 0 10px;

    }
}


.popup-notification{
  width: 100%;
  padding: 10px;
  max-width: 400px;
  position: fixed;
  top: 100px;
  right: -3000px;
  box-shadow: 0 0 10px rgba(100.100,100,.5);
  transition: right 1s;
  background: $white;
}

.popup-notification.show{
  right: 0;
}

.popup-notification.notification-success{
  border-left: 3px solid $green;
    background: $green;
}


.popup-notification.notification-danger,
.popup-notification.notification-error{
  border-left: 3px solid $red;
    background: $red;
}


.popup-notification.notification-warning{
  border-left: 3px solid $yellow;
}

.spinner, .spinner::after{
  content: '';
  position: absolute;
  width: $loader-size;
  height: $loader-size;
  border-radius: 40%;
  -webkit-animation-name: spinner;
  -moz-animation-name: spinner;
  -o-animation-name: spinner;
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner{
  top: 10px;
  right: 10px;
  border-left: $loader-border-width solid $red;
  //border-bottom: $loader-border-width solid $blue;
  border-right: $loader-border-width solid $red;
  animation-duration: 1s;
}

.form-control-error{
  font-size: $font-xs;
  color: $red;
  padding: 0;
  margin: 0;

}


.winged{
    position: relative;
    &:after,&:before{
        content: '';
        position: absolute;
        background: inherit;
        width: 20%;
        height: 20%;
        top: 0;
    }
    &:after{
        left: -20%;
        border-bottom-right-radius: 50%;
    }
    &:before{
        right: -20%;
        border-bottom-left-radius: 50%;
    }
}

footer{
  //position: absolute;
  //bottom: 0;
    background: $dark;
  margin: 0 auto;
  padding-top: 2em;
  border-top: 2px solid $blue;
    *{
        color: $white;
    }

}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }

}

@keyframes reverse-spinner {
  to{
    transform: rotate(-359deg);
  }

}



//EXTERNAL
.custom-shape-divider-bottom-1606038902 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1606038902 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 172px;
}

.custom-shape-divider-bottom-1606038902 .shape-fill {
    fill: #FFFFFF;
}

.blog-list{
    .blog-item{
        .blog-tag{
            background: red;
            color: $white;
            position: absolute;
            top: 0;
            left:0;
            padding: .3em 1.2em;
        }
        img{
            width: 100%;
        }
        .blog-desc-wrapper{
            padding: 2em;
            background: $white;
            .blog-title{
                color: rgba($red,.7);
                font-weight: 700;
            }
            .blog-exerpt{
                line-height: 1.5em;
                color: $grey;
                font-size: .9em;
            }
            &:hover{
                top: calc(-2em)
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    html{
        font-size: 12pt;
    }
    nav{
        background: $blue;
    }
}

.avatar-wrapper{
    img{
        border-radius: 2em;
        border: 1px solid $light-grey;
        width: 4em;
        height: 4em;

        &after{
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $red;
            border-radius: 50%;

        }
    }

    h4,span{
        text-align: center;
    }
    h4{
        font-size: 1.3em;
        color: $grey;
        margin-top: .5em;
        margin-bottom: 0;
    }
    span{
        color: $light-grey;
        font-size: 1em;
        margin-top: .3em;
        line-height: 1em;
    }
}
// Mobile First
.dashboard-container{
    background: $extra-light-grey;
    width: 100%;

    .dashboard-navigation{
        // display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        background: $green;
        z-index: 3000;
        min-height: calc(100vh - 100px);
        padding-top: 15%;
        position: fixed;
        top: 100;
        left: -1000px;
        background: #fff;
        box-shadow: 0 0 10px rgba(100,100,100,.5);
        transition: left 500ms linear;
        
        
        .close{
            position: absolute;
            top: 3%;
            right: 10%;
            color: $primary;
        }
        ul{
            h6{
                text-align: center;
            }
            padding-left: 0;
            h3{
                text-align: center;
                color: $primary;
            }
            li{
                text-align: center;
                font-size: .8em;
                
                margin-bottom: .5em;
                a,i{
                    color: $light-grey;
                    font-size: .9em;
                    margin-bottom: .33em;
                }
            }
        }
    }

    .dashboard-navigation.show{
        left: 0;
    }

    .dashboard-content{
        width: 100%;
        min-height: 100vh;
        // background: url('http://localhost:8000/assets/img/bg/bg-pattern1.jpg') $white;
        background:  $off-white;
    }

    .dashboard-nav-footer{
        position: absolute;
        bottom:0;
        width: 100%;
        background: $red;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 2em;
        }
        a{
            font-size: 1em;
            color: $white;
            text-align: center;
            // margin-left: .5em;
        }

        a,i{
            display: block;
            text-align: center;
        }
        i{
            font-size: 2.5em;
        }
    }
}

.banner{
    .zi-m-1000{
        z-index: 9999 !important;
    }
    img{
        z-index: 0 !important;
    }
}
.dashboard-card-number{
    font-size: 4em;
    font-weight: 600;
    background: linear-gradient(to bottom,$primary 80%, $red);
    color: $white;
    border-radius: 50%;
    padding: .3em;

}

.blog-detail-wrapper{
    padding: 0;
    .blog-detail{
        background: $white;
        padding: 0;


        .blog-tag{
            padding: .3em 2em;
            box-shadow: 0 0 3px rgba($color: #000000, $alpha: .20);
            font-size: .8em;
            text-align: center;
            background: rgba($color: $red, $alpha: .7);
            position: absolute;
            top: 0;
            left: 0;
            color: $white;
        }

        .blog-text{
            padding: 2em;
            border-left: .1em solid rgba($red,.5)
        }

        img{
            border-bottom: 3px solid $red;
            border-radius: 0 0 4em 0;
            width: 100%;
        }

        .blog-meta{
            background: rgba($extra-light-grey, .4);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 1em;
            flex-wrap: wrap;
            span{
                width: 50%;
            }
            .post-maker{
                img{
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    margin-right: .3em;
                }
                small{
                    color: $red;
                    font-weight: 700;
                }
            }
            .social-share{
                button{
                    margin-left: .2em;
                    border-radius: .5em !important;
                }
            }
        }
    }


    
}

.bg-transparent{
    background: rgba($color: #000000, $alpha: .20);
    
    h4{
        z-index: 100;
    }
} 



.tags{
    font-size: .83em;
    background: $white;
    border-radius: 3em;
    width: 100%;
    margin-top: 1em;
    padding: .4em .8em .4em 2em;
    .close{
        font-size: 1.4em;
        color: $red;
    }
}

input.form-control{
    font-size: .9em;
}

.selectable-item:hover{
    background: $primary !important;
}

.mobile-menu-toggle{
    position: fixed;
    top: 10vh;
    padding: .3em .9em;
    background: rgba($color: $green, $alpha: .6);
    right: 0;
    
}

// Big screen
@media screen and (min-width: $tablet-min-breakpoint){
    .mobile-menu-toggle{
        display: none;
    }
   .banner{
       img{
           z-index: 0 !important;
       }
   }
    .dashboard-container{
        .dashboard-navigation{
            display: block;
            width: 20%;
            padding-top: 2em;
            left: 0;
            z-index: 0;
            .close{
                color: $white;
            }
            ul{
                h6{
                    padding-left: 2em;
                    text-align: left;
                }
                li{
                    text-align: left;
                    padding: 1em;
                    &:hover{
                        background: $primary;
                        color: $white;
                    }
                    transition: background 300ms linear;
                    transform-origin: left;
                    a,i{
                        color: $light-grey;
                        font-size: 1.1em;
                        margin-bottom: .33em;
                    }
                    a{
                        margin-left: 1em;
                        i{
                            margin-right: 1em;
                        }
                    }
                }
                
            li.active{
                border-right: 3px solid $primary;
            }

            }
        }

        .dashboard-content{
            width: 75%;
            position: absolute;
            right: 2em;
        }
    }
    .blog-detail-wrapper{
        .blog-detail{
            .blog-meta{
                span{
                    width: auto;
                }
            }
        }
    }
}